#header {
    background-color: #1e81b0 ;
    text-align: center;
    padding: 10px;
    border-style: solid;
}
body {
    background-color: #ded8ce;
    margin-left: auto;
    border-style: double;
}
h2 {
    color:#195e83 ;
}
 #footer{
    background-color:white ;
    border-style: solid;
   
 }
 #menu{
     background-color: black;
     border-width: 50%;
     padding: 5px;
     border-radius: 0px 40px 40px 0px;
     margin-left: 0px; 
     width: 200px;
    
 }
#image{
    clip-path: circle(); 
}
#section{
    border-style: solid;
    border-radius:  0px 0px 0px 0px;
}
